@import 'variabls';
/*--
    - Custom Row
------------------------------------------*/
@for $i from 0 through 15 {
    .row-#{1 * $i} {
        margin-left: -1px * $i;
        margin-right: -1px * $i;
        
        & > [class*="col"] {
            padding-left: 1px * $i;
            padding-right: 1px * $i;
        }
    }
}
@for $i from 16 through 50 {
    .row-#{1 * $i} {
        margin-left: -1px * $i;
        margin-right: -1px * $i;
        
        // Responsive
        @media #{$laptop-device}{
            margin-left: -15px;
            margin-right: -15px;
        }
        @media #{$desktop-device}{
            margin-left: -15px;
            margin-right: -15px;
        }
        @media #{$tablet-device}{
            margin-left: -15px;
            margin-right: -15px;
        }
        @media #{$large-mobile}{
            margin-left: -15px;
            margin-right: -15px;
        }
        
        & > [class*="col"] {
            padding-left: 1px * $i;
            padding-right: 1px * $i;
        
            // Responsive
            @media #{$laptop-device}{
                padding-left: 15px;
                padding-right: 15px;
            }
            @media #{$desktop-device}{
                padding-left: 15px;
                padding-right: 15px;
            }
            @media #{$tablet-device}{
                padding-left: 15px;
                padding-right: 15px;
            }
            @media #{$large-mobile}{
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}

/*-- 
    - Margin & Padding
-----------------------------------------*/
/*-- Margin Top --*/
@for $i from 0 through 30 {
    .mt-#{5 * $i}{margin-top: 5px * $i !important;}
}
@for $i from 0 through 30 {
    .mtn-#{5 * $i}{margin-top: -5px * $i !important;}
}

/*-- Margin Bottom --*/
@for $i from 0 through 30 {
    .mb-#{5 * $i}{margin-bottom: 5px *$i !important;}
}
@for $i from 0 through 30 {
    .mbn-#{5 * $i}{margin-bottom: -5px * $i !important;}
}

/*-- Margin Left --*/
@for $i from 0 through 30 {
    .ml-#{5 * $i}{margin-left: 5px * $i !important;}
}

/*-- Margin Right --*/
@for $i from 0 through 30 {
    .mr-#{5 * $i}{margin-right: 5px *$i !important;}
}

/*-- Padding Top --*/
@for $i from 0 through 30 {
    .pt-#{5 * $i}{padding-top: 5px *$i !important;}
}

/*-- Padding Bottom --*/
@for $i from 0 through 30 {
    .pb-#{5 * $i}{padding-bottom: 5px *$i !important;}
}

/*-- Padding Left --*/
@for $i from 0 through 30 {
    .pl-#{5 * $i}{padding-left: 5px *$i !important;}
}

/*-- Padding Right --*/
@for $i from 0 through 30 {
    .pr-#{5 * $i}{padding-right: 5px *$i !important;}
}